<section id="show-user">
  <%= @user.name %>
  <%= @user.email %>
</section>
<section id="shopping-lists">
</section>
<section id="shopping-list-items">
</section>
<section id="item-detail">
</section>