<section id="show-user">
  <header>
    <h1><%= @user.name.titleize %>'s Shopping Lists</h1>
  </header>
<section id="shopping-lists">
</section>
<section id="shopping-list-items">
</section>
<section id="item-detail">
</section>
</section>