
// http://colorschemedesigner.com/#2L61Tw0w6w0w0
$whitegreen: rgb(238,250,235)
$lightergreen: #80ea69
$lightgreen: #59ea3a
$medgreen: #25d500
$darkgreen: #3da028
$darkergreen: #188a00
$lightblue: #5dd0c0
$darkblue: #00685a

@mixin background_gradient($top_color, $bottom_color)
  background-image: linear-gradient(bottom, $bottom_color 5%, $top_color 59%)
  background-image: -o-linear-gradient(bottom, $bottom_color 5%, $top_color 59%)
  background-image: -moz-linear-gradient(bottom, $bottom_color 5%, $top_color 59%)
  background-image: -webkit-linear-gradient(bottom, $bottom_color 5%, $top_color 59%)
  background-image: -ms-linear-gradient(bottom, $bottom_color 5%, $top_color 59%)
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, $bottom_color), color-stop(0.59, $top_color))