// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import shared

#show-user
  section
    padding: 0 2%
  header
    text-align: center
    margin: 2% 0
    padding: 1% 0
  li
    margin: 1% 0
    padding: 1% 0
    &:hover
      background: $medgreen
      box-shadow: 1px 1px 2px $darkgreen
  .name, .title, .delete-item, .delete-list
    cursor: pointer
  .delete-item, .delete-list
    float: right
  #shopping-lists
    float: left
    width: 30%
  #shopping-list-items
    width: 30%
    float: left
    ul
      width: 85%
    li
      width: 100%
      &.purchased
        background: $darkblue
      span
        display: inline-block
        margin-left: 2%
        &.title
          margin-right: 2%
          width: 70%
          overflow: hidden
    input[type=checkbox]
      display: inline-block
      margin-right: 4%
  #item-detail
    margin: 0
    position: fixed
    height: 100%
    width: 100%
    background: transparentize($darkgreen, 0.4)
    section
      position: fixed
      top: 30%
      left: 35%
      width: 30%
      height: 30%
      min-height: 220px
      background: black
      border-radius: 5px
      color: $lightgreen
      padding: 2%
      text-align: center
    .row
      line-height: 150%
      cursor: pointer
    #detail-done
      display: inline-block
      border: 2px solid black
      padding: 1%
      &:hover
        @include background-gradient($whitegreen, $lightgreen)
        color: black
    #quantity
      cursor: default
    input[type=text]
      width: 2.5em
      text-align: center
      
  